/*Fonts Used*/

@font-face { font-family: 'Geist Mono'; src: url(fonts/GeistMono-SemiBold.woff2) format('woff2'), url(fonts/GeistMono-SemiBold.woff) format('woff'); font-weight: 600; font-style: normal; font-display: swap; }
@font-face { font-family: 'Geist Mono'; src: url(fonts/GeistMono-SemiBold.woff2) format('woff2'), url(fonts/GeistMono-SemiBold.woff) format('woff'); font-weight: 600; font-style: normal; font-display: swap; }
@font-face { font-family: 'General Sans'; src: url(fonts/GeneralSans-Light.woff2) format('woff2'), url(fonts/GeneralSans-Light.woff) format('woff'); font-weight: 300; font-style: normal; font-display: swap; }
@font-face { font-family: 'General Sans'; src: url(fonts/GeneralSans-Extralight.woff2) format('woff2'), url(fonts/GeneralSans-Extralight.woff) format('woff'); font-weight: 200; font-style: normal; font-display: swap; }
@font-face { font-family: 'General Sans'; src: url(fonts/GeneralSans-Medium.woff2) format('woff2'), url(fonts/GeneralSans-Medium.woff) format('woff'); font-weight: 500; font-style: normal; font-display: swap; }
@font-face { font-family: 'General Sans'; src: url(fonts/GeneralSans-Bold.woff2) format('woff2'), url(fonts/GeneralSans-Bold.woff) format('woff'); font-weight: bold; font-style: normal; font-display: swap; }
@font-face { font-family: 'General Sans'; src: url(fonts/GeneralSans-Semibold.woff2) format('woff2'), url(fonts/GeneralSans-Semibold.woff) format('woff'); font-weight: 600; font-style: normal; font-display: swap; }
@font-face { font-family: 'General Sans'; src: url(fonts/GeneralSans-Regular.woff2) format('woff2'), url(fonts/GeneralSans-Regular.woff) format('woff'); font-weight: 300; font-style: normal; font-display: swap; }
@font-face { font-family: 'Gotcha'; src: url(fonts/GotchaRegular.woff2) format('woff2'), url(fonts/GotchaRegular.woff) format('woff'); font-weight: normal; font-style: normal; font-display: swap; }
@font-face { font-family: 'GT America Lt'; src: url(fonts/GTAmerica-Lt.woff2) format('woff2'), url(fonts/GTAmerica-Lt.woff) format('woff'); font-weight: 300; font-style: normal; font-display: swap; }

:root{ 
    --priFont: 'Geist Mono'; 
    --secFont: 'General Sans'; 
    --thirdFont: 'Gotcha'; 
    --fourthFont: 'GT America Lt'; 

    --priColor:#007173;
    --secColor:#09443E;
    --thirdColor:#FFE1D6;


    /* text */
    --txt1:#1C1C1C;
    --txt2:#0F1828;
    --bodyColor:#383838;
    
    /* others */
    --white:#fff;
    --black:#000;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }
*,::before,::after{ box-sizing: border-box; }
/* end reset */

/*preset*/

.wrapper{ width:100%; max-width:1320px; margin:0 auto; position:relative;}

.btn{ display: block; width: 100%;     color: #fff; text-align: center; position: relative; text-decoration: none;max-width: 165px;line-height: 56px;border-radius: 30px;background: var(--priColor);font-family: var(--secFont);font-size: 16px;font-weight: 600;border: 1px solid transparent;z-index: 1;transition: all .3s linear;}
.btn:hover { background: transparent; border: 1px solid var(--txt2); color: var(--txt2); }
.btn::before{ content: ""; display: block; width: 0; height: 50%; position: absolute; background: var(--white); z-index: -1; right: 0; transition: all .3s linear;opacity: 0.2;top: 0;border-radius: 30px 30px 0 0;}

.btn:hover::before,.btn:hover::after{ width: 100%; transition: all .3s linear; }
.btn::after{ content: ""; display: block; width: 0; height: 50%; position: absolute; background: var(--white); z-index: -1; left: 0; transition: all .3s linear;opacity: 0.2; bottom: 0; border-radius: 0 0 30px 30px; }


body{color:var(--bodyColor);position:relative;  font: 300 18px var(--secFont);line-height: 24px;overflow-x: hidden;}

  /* modal  */

  .modal { display: none; position: fixed;  padding-top: 100px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto;  background-color: rgba(0,0,0,0.8); z-index: 10;}
  .modal_content {  margin: auto; padding: 20px; border: 1px solid #888; width: 95%; height: 90%;background: var(--white);}
  .close { color: #5E5E5E; float: right; font-size: 35px; font-weight: 500; cursor: pointer;}
  .close:hover{ color: var(--priColor); }
  .modal_info h2{font: 600 40px var(--secFont);color: var(--black);line-height: 100%;margin-bottom: 35px;}
  .modal_info{position: absolute;text-align: center;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 100%;}
  .modal_info input{height: 48px;max-width: 100%;width: 100%;border: 1px solid rgba(15, 24, 40, 0.05);border-radius: 8px;padding: 9px 13px;font-size: 18px;color: #888888;background:rgba(15, 24, 40, 0.05);}
  
  .modal_info button{ width: 30px;aspect-ratio: 1/1;border: none;position: absolute;top: 50%;transform: translateY(-50%);right: 20px;background: url(assets/icons/MagnifyingGlass.png) no-repeat center;cursor: pointer;}
  .modal_info form{position: relative;max-width: 808px;width: 90%;margin: 0 auto;}
  .modal_info button:hover{
    opacity: 0.5;
    filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(7500%) hue-rotate(210deg) brightness(88%) contrast(115%);
  }
  

/* header section*/
header{position: absolute;z-index: 1;width: 100%;top: 23px;padding: 0 10px;}
.header_container{width: 100%;min-height: 80px;display: flex;justify-content: space-between;align-items: center;border-radius: 50px;background: var(--white);padding: 10px 15px 10px 33px;position: relative;}
.main_logo{position: relative;z-index: 2;}
.main_logo figure{}
.main_logo figure img{}

.header_btn{width: 165px;}
.header_btn a{line-height: 48px;width: 100%;}
.header_search{width: 24px;aspect-ratio: 1/1;}

.header_search button{border: none;width: 100%;height: 100%;background: url(assets/icons/MagnifyingGlass.png) no-repeat center;}
.header_search button:hover{ cursor: pointer; transform: scale(0.9);}
.header_content{display: flex;align-items: center;width: 100%;max-width: 221px;justify-content: space-between;gap: 10px;z-index: 1;}


/* nav section */

nav .hamburger { display: none;  cursor: pointer; flex-direction: column; width: 40px;height: 26px;position: absolute;right: 0;z-index: 2;transition: all .3s linear;}
nav .hamburger_line { height: 3px; width: 100%; background-color: #5E5E5E;margin: 3px 0; border-radius: 30px;transition: all .3s linear;}
nav .hamburger_line:nth-child(2){ width: 86%; margin: 0 0 0 auto; top: 50%;transform: translateY(-50%);position: absolute;right: 0;}

nav .hamburger_line:nth-child(1){position: absolute;top: 0;}
nav .hamburger_line:nth-child(3){position: absolute;bottom: 0;}

#nav_area{position: absolute;width: 100%;text-align: center;top: 50%;transform: translateY(-50%);left: 0;}
nav ul{position: relative;}
nav ul li{display: inline-block;position: relative;}
nav ul li a{text-decoration: none;color: var(--txt2);font-size: 16px;font-weight: 500;margin: 0 27px;line-height: 81px;position: relative;}
nav ul li ul li{ display: block;}
nav ul li q{ right: -20px;      aspect-ratio: 1/1; position: absolute; top: 17%;  font-size: 14px !important;}

nav ul li q:hover{ color: var(--secColor); transition: all .3s linear;}

nav ul li q.clicked { transform: rotate(-180deg); transition: all .3s linear;}

nav ul li .custom_nav ul{}
nav ul li .custom_nav ul li{margin-bottom: 18px;}
nav ul li .custom_nav ul li a{margin: 0;line-height: 31px;color: rgba(15, 24, 40, 0.75);}
nav ul li .custom_nav ul li:last-of-type{margin-bottom: 0;}

nav ul li .custom_nav{ border-radius: 8px;text-align: left;position: absolute;width: 689px;background: var(--white);min-height: 204px;padding: 24px 32px;top: 106%;height: 100%;display: none;transition: all .3s linear;z-index: 2;}

nav ul li .custom_nav.show{ display: block; }


/* .dropdown-content { display: none; /* Hide by default} 
.dropdown-content.show { display: block; /* Show when class 'show' is added  }*/




nav ul li .custom_nav h2{font-size: 13px;letter-spacing: 2px;text-transform: uppercase;color: var(--txt2);font-weight: 600;margin-bottom: 15px;}
nav ul li .custom_nav h3{font-size: 20px;color: #1C1C1C;font-weight: 600;line-height: 100%;margin: 11px 0 12px 0;}
nav ul li .custom_nav  p{font-size: 14px;letter-spacing: 0.5px;}

nav ul li .custom_nav section:nth-child(2){ max-width: 240px; width: 39%; }
nav ul li .custom_nav section figure{}
nav ul li .custom_nav section figure img{border-radius: 8px;width: 100%;}
nav ul li .custom_nav section{ max-width: 450px; width: 49%; }
nav ul li .custom_nav .dropdown_content{ display: flex; width: 100%; justify-content: space-between;}

nav ul li:first-child .custom_nav section figure img{border-radius: unset;width: unset;}

nav ul li .custom_nav.properties a{display: block;color: var(--priColor);text-decoration: none;font: 600 16px var(--secFont);position: relative;margin: 0;max-width: fit-content;padding-right: 25px;position: absolute;top: 24px;right: 32px;transition: all .3s linear;}

nav ul li .custom_nav.properties a:hover{ color: #F9C4A9; }
nav ul li .custom_nav.properties a:hover::before{ transform: rotate(0); }

nav ul li .properties a:before{ content: "\279C"; font-size: 21px; position: absolute; right: 0; bottom: -5px; transform: rotate(-33deg); transition: all .3s linear;}
.properties_dropdown{display: flex;justify-content: space-between;gap: 10px;text-align: center;margin: 30px 27px 0 0;}
nav ul li .custom_nav .properties_dropdown section{width: 11%;}
.properties_dropdown section figure{display: flex;flex-direction: column;justify-content: space-between;min-height: 88px;align-items: center;}
.properties_dropdown section figure figcaption{font-size: 16px;color: var(--txt2);}
.properties_dropdown section:first-child figure figcaption{ font-weight: 600; }
.properties_dropdown section:hover figure figcaption{ font-weight: 600; }

nav ul li .custom_nav.properties{}
nav ul li  .custom_nav.sda_dropdown { min-height: 270px ;left: 50%;transform: translateX(-27%);}
nav ul li  .custom_nav.about_dropdown { min-height: 310px ;left: 50%;transform: translateX(-44%);}
nav ul li  .custom_nav.resource_dropdown { min-height: 278px ;left: 50%;transform: translateX(-64%);}
nav ul li  .custom_nav.tenant_dropdown { min-height: 278px ;left: 50%;transform: translateX(-89%);}



nav ul li:hover .custom_nav { /*! display: block; */ }

/* hero section */
#hero{position: relative;background: #F1EAE6;padding: 0 10px;}
#hero:before{ content: ""; background: #009496; height: 100%; position: absolute; top: 0; right: 0; width: 29.4%; }


.hero_container{min-height: 760px;}

.hero_img{position: absolute;bottom: 0;right: 2.6%;height: 608px;width: 45.9%;overflow: hidden;border-radius: 300px 300px 0 0;}
.hero_img figure{}
.hero_img figure img{max-width: initial;height: 100%;position: relative;left: 50%;transform: translateX(-50%);border-radius: 300px 300px 0 0;}


.hero_info{width: max(36%,477px);position: absolute;top: 43%;}
.hero_info h2{color: #0F1828;font: 500 48px var(--secFont);line-height: 122%;}
.hero_info h2 span{color: var(--priColor);font-family: var(--thirdFont);font-size: 66px;line-height: 122%;font-weight: 500;}
.hero_info p{margin: 3px 0 37px;font-size: 18px;}
.hero_info a{}
.hero_info a:last-child{ max-width: 164px; background: transparent; color: var(--txt2); border: 1px solid #0F1828; }
.hero_info .hero_btn{display: flex;gap: 10px;}
.hero_info a:last-child:hover{ background: var(--priColor); color: var(--white); border: 1px solid transparent; }

#about_section{position: relative;padding: 0 10px;}
#about_section .wrapper{ max-width: 1167px; }
.about_container{min-height: 550px;padding: 121px 0 50px;}
.about_info{margin: 0 0 0 auto;width: 50%;max-width: 564px;}
.about_info h2{font-size: 40px;font-weight: 600;line-height: 100%;margin: 0 0 18px 0;}
.about_info h2 span{display: block;font-size: 13px;line-height: 122%;text-transform: uppercase;font-weight: 600;letter-spacing: 2px;}
.about_info h2 small{ display: block; font-size: 60px; line-height: 100%; font-family: var(--thirdFont); color: var(--priColor); font-weight: normal; margin: 5px 0 0 0;}
.about_info h2 small q{ font-size: 40px; font-family: var(--secFont); color: var(--bodyColor); font-weight: 600; }
.about_info p{line-height: 25px;font-weight: 300;}
.about_info a{display: block;margin: 27px 0 0 0;max-width: fit-content;color: var(--priColor);text-decoration: none;font: 600 16px var(--secFont);padding-right: 28px;position: relative;transition: all .3s linear;}

.about_info a:after{ content: ""; display: block; width: 0; height: 2px; position: absolute; bottom: -3px; background: var(--priColor); border-radius: 5px; transition: all .3s linear;}
.about_info a:hover::after{ width: 85%; }
.about_info a:hover::before{transform: rotate(0);}

.about_info a:before{ content: "\279C"; font-size: 21px; position: absolute; right: 0; bottom: -5px; transform: rotate(-33deg); transition: all .3s linear;}

.about_container figure{}
.about_container figure img{max-width: 503px;width: 100%;position: absolute;bottom: 0;left: 0;}

/* featured section */
#featured_section{background: rgba(255, 225, 214, 0.25);padding: 0 10px;}
.featured_container{min-height: 624px;padding: 81px 0 50px;display: flex;gap: 10px;justify-content: space-between;}
.featured_left_con{position: relative;max-width: 760px;width: 58%;}
.featured_left_con h2{font: 600 40px var(--secFont);line-height: 100%;margin-bottom: 43px;}

.featured_left_con figure{height: 380px;width: 100%;overflow: hidden;border-radius: 8px;}
.featured_left_con figure img{border-radius: 8px;max-width: initial;height: 100%;position: relative;left: 50%;transform: translateX(-50%);}


.featured_right_con{margin: 101px 0 0 auto;max-width: 492px;width: 50%;}
.featured_right_con h2{font: 600 35px var(--secFont);}
.featured_right_con h2 span{font: 600 13px var(--secFont);display: block;color: var(--priColor);letter-spacing: 1px;padding-left: 6px;line-height: 100%;margin-bottom: 12px;}
.featured_right_con h2 small{display: block;font: 600 18px var(--secFont);line-height: 100%;margin-top: 12px;color: #383838;}
.featured_right_con p{margin: 0px 0 29px;line-height: 27px;}
.featured_right_con a{max-width: 131px;}

/* properties section */
#properties_section{padding: 0 10px;position: relative;}
.properties_container{ min-height: 984px; padding: 81px 0 50px;}

.properties_info{}
.properties_info h2{font-size: 40px;font-weight: 600;line-height: 122%;}
.properties_info h2 span{display: block;color: rgba(15, 24, 40, 0.75);font-size: 13px;font-family: var(--black);font-weight: 600;text-transform: uppercase;letter-spacing: 2px;line-height: 100%;margin-bottom: 12px;}
.properties_info h2 small{font: 500 60px var(--thirdFont);color: var(--priColor);line-height: 100%;}

.states{max-width: 262px;width: 46%;margin-left: 15px;}
.states h2{font-size: 20px;font-weight: 600;margin: 56px 0 29px;}

.select_states{}
.select_states ul{}
.select_states ul li{margin-bottom: 34px;}

.state_map{position: absolute;top: 50%;transform: translateY(-50%);right: -3%;}
.state_map figure{}
.state_map figure img{width: 100%;}


/* specialist section */

#specialist_section{background: rgba(15, 24, 40, 0.05);position: relative;padding: 0 10px;}
.specialist_container{ min-height: 1365px;padding: 82px 0 50px;}
.specialist_info{display: flex;justify-content: space-between;gap: 10px;}
.specialist_heading{width: 36%;max-width: 470px;}
.specialist_heading h2{font-size: 40px;font-weight: 600;line-height: 100%;}
.specialist_heading h2 span{display: block;font-size: 13px;font-weight: 600;text-transform: uppercase;letter-spacing: 2px;line-height: 100%;margin: 0px 0 17px 0;}
.specialist_heading h2 small{display: block;color: var(--priColor);font: 500 60px var(--thirdFont);line-height: 100%;margin: -5px 0 0 0;}

.specialist_content{max-width: 762px;width: 60%;}
.specialist_content p{line-height: 25px;}
.specialist_boxes{display: flex;gap: 10px;justify-content: space-between;margin: 27px 0 40px;}
.specialist_boxes section{width: 32%;max-width: 242px;min-height: 140px;background: var(--white);border-radius: 14px;padding: 19px 25px 15px 19px;}
.specialist_boxes section h2{font-size: 26px;font-weight: 500;line-height: 100%;}
.specialist_boxes section h2 span{display: block;font-size: 32px;color: var(--priColor);font-weight: 600;font-family: var(--priFont);margin-bottom: 12px;line-height: 100%;}

.specialist_btn{display: flex;gap: 10px;align-items: center;justify-content: space-between;max-width: 393px;}
.specialist_btn a{max-width: 219px;}
.specialist_btn a:last-child { max-width: fit-content; color: var(--priColor); text-decoration: none; font: 600 16px var(--secFont); position: relative; padding-right: 25px; transition: all .3s linear;}

.specialist_btn a:last-child:after{ content: ""; display: block; width: 0; height: 2px; position: absolute; bottom: -3px; background: var(--priColor); border-radius: 5px; transition: all .3s linear;}
.specialist_btn a:last-child:hover::after{ width: 85%; }
.specialist_btn a:last-child:hover::before{transform: rotate(0);}


.specialist_btn a:last-child::before{ content: "\279C"; font-size: 21px; position: absolute; right: 0; bottom: -5px; transform: rotate(-33deg); transition: all .3s linear;}


.specialist_video{margin-top: 69px;text-align: center;}
.specialist_video video{width: 100%;}

/* difference section */
#difference_section{background: var(--secColor);position: relative;padding: 0 10px;}
#difference_section:before{ content: ""; background: var(--thirdColor); width: 29.3%; height: 100%; display: block; position: absolute; top: 0; right: 0; }
#difference_section figure{position: absolute;top: 51.2%;transform: translateY(-50%);right: 13.5%;width: 33.4%;overflow: hidden;}
#difference_section figure img{max-width: initial;height: 100%;position: relative;left: 50%;transform: translateX(-50%);}



 .difference_container{ min-height: 876px; color: var(--white);padding: 71px 0 50px;}
 .difference_content{max-width: 632px;width: 50%;}
 .difference_info{margin-bottom: 37px;}
 .difference_info h2{font-size: 40px;font-weight: 600;line-height: 100%;margin-bottom: 12px;}
 .difference_info h2 span{font: 500 60px var(--thirdFont);color: var(--thirdColor);line-height: 100%;}
 .difference_info h2 small{}
 .difference_info p{}



.difference_cards{display: flex;flex-direction: column;row-gap: 15px;counter-reset: section;}
.difference_cards section{background: #0B3938;padding: 28px 17px 15px 30px;position: relative;min-height: 160px;width: 100%;border-radius: 16px;}
.difference_cards section h2{font-size: 26px;font-weight: 500;line-height: 100%;margin-bottom: 12px;}
.difference_cards section h2 span{}
.difference_cards section h2::before{ counter-increment: section; content: "0" counter(section); position: absolute; left: 0; color: #FAE6AA; font-family: var(--priFont); font-size: 32px; top: 5px;}

.difference_cards section p{font-size: 16px;color: #F1EAE6;}
.difference_box_info{ position: relative; padding-left: 74px; }

/* news section  */
 #news_section{padding: 0 10px;}
 .news_container{min-height: 670px; padding: 81px 0 50px;}
 .news_info{position: relative;}
 .news_info h2{font-size: 40px;font-weight: 600;line-height: 100%;}
 .news_info h2 q{color: var(--priColor);font-family: var(--thirdFont);}
 .news_info a{max-width: fit-content;color: var(--priColor);text-decoration: none;font: 600 16px var(--secFont);padding-right: 30px;display: block;position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
 .news_info a::before{ content: "\279C"; font-size: 19px; position: absolute; right: 0; bottom: -5px; transform: rotate(-31deg); transition: all .3s linear;}

 
 .news_info a:last-child:after{ content: ""; display: block; width: 0; height: 2px; position: absolute; bottom: -3px; background: var(--priColor); border-radius: 5px; transition: all .3s linear;}
 .news_info a:last-child:hover::after{ width: 85%; }
 .news_info a:last-child:hover::before{transform: rotate(0);}

 .news_cards{display: flex;justify-content: space-between;gap: 10px;margin-top: 30px;}
 .news_cards section{width: 32%;max-width: 424px;}
 .news_cards section h2{line-height: 122%;font-size: 26px;font-weight: 500;margin-bottom: 8px;}
 .news_cards section h2 span{font-size: 13px;font-weight: 600;text-transform: uppercase;color: var(--priColor);display: block;line-height: 100%;margin-bottom: 13px;}
 .news_cards section .news_card_info{margin-top: 26px;}
 .news_cards section p{font-size: 16px;}
 .news_cards section figure{height: 212px;width: 100%;overflow: hidden;}
 .news_cards section figure img{border-radius: 12px;max-width: initial;height: 100%;position: relative;left: 50%;transform: translateX(-50%);}


/* contact section */
 #contact_section{background: #F1EAE6;position: relative;padding: 0 10px;}
 #contact_section:before{ content: ""; background: #009496; height: 100%; position: absolute; top: 0;  width: 29%; left: 0;}
 .contact_container{min-height: 680px;}
 .contact_container figure{position: absolute;bottom: 0;left: 1px;height: 604px;overflow: hidden;width: 46.6%;border-radius: 300px 300px 0 0;}
 .contact_container figure img{max-width: initial;height: 100%;position: relative;left: 50%;transform: translateX(-50%);border-radius: 300px 300px 0 0;}

 .contact_info{position: absolute;top: 55%;right: 36px;max-width: 499px;transform: translateY(-50%);width: 48%;}
 .contact_info h2{font-size: 40px;font-weight: 600;line-height: 100%;}
 .contact_info h2 span{color: var(--priColor);font: 500 60px var(--thirdFont);line-height: 100%;}
 .contact_info p{margin: 10px 0 33px;}
 .contact_btn{display: flex;justify-content: space-between;max-width: 370px;}
 .contact_btn a{}
 .contact_btn a:last-child{ background: transparent; color: var(--txt2); border: 1px solid #0F1828; max-width: 196px; }
 .contact_btn a:last-child:hover{ background: var(--priColor); color: var(--white); border: 1px solid transparent; }
/* footer section */

 footer{background: #0F1828;padding: 0 10px;}
 .footer_container{min-height: 632px;padding: 94px 0 50px;}
 .footer_top_con{min-height: 410px;border-bottom: 1px solid rgba(255, 255, 255, 0.2);display: flex;justify-content: space-between;gap: 10px;}
 .footer_btm_con{padding: 33px 0 0;text-align: center;}

 .footer_left_con{max-width: 204px;width: 19%;}
 .footer_logo{max-width: 191px;width: 100%;margin-bottom: 44px;}
 .footer_logo figure {}
 .footer_logo figure img{}
 .footer_left_con ul{display: flex;flex-direction: column;row-gap: 9px;}
 .footer_left_con ul li{position: relative;padding-left: 36px;font-size: 16px;pointer-events: none;}
 .footer_left_con ul li a{text-decoration: none;color: var(--white);pointer-events: auto;}
 
 .footer_left_con ul li a:hover { color: #F9C4A9; }

 .footer_left_con ul li:hover::before{ filter: brightness(0) saturate(100%) invert(95%) sepia(53%) saturate(1012%) hue-rotate(298deg) brightness(97%) contrast(101%); }

 .footer_left_con ul li::before{ content: url(assets/icons/footer-phone.png); position: absolute; left: 0; }
 
 .footer_left_con ul li:nth-child(2)::before{content: url(assets/icons/footer-mail.png);}
 .footer_right_con{max-width: 816px;width: 86%;display: flex;justify-content: space-between;gap: 10px;}
.footer_right_info1 h2{font-size: 13px;color: #FAE6AA;text-transform: uppercase;font-weight: 500;letter-spacing: 2px;margin-bottom: 16px;}
 .footer_nav{}
 .footer_nav ul{}
 .footer_nav ul li {}
 .footer_nav ul li a{font-size: 16px;color: var(--white);text-decoration: navajowhite;margin-bottom: 20px;display: block;max-width: fit-content;position: relative;transition: all .3s linear;}
 .footer_nav ul li a.active{color: #F9C4A9;font-weight: 600;}
 .footer_nav ul li a.active::before{ content: ""; background: #F9C4A9; width: 100%; height: 1.7px; position: absolute; bottom: -5px; left: 50%; transform: translateX(-50%); }

 .footer_nav ul li a:hover , .footer_tenants ul li a:hover{ color: #F9C4A9; }
 .footer_nav ul li a::before ,.footer_tenants ul li a::before{ content: ""; background: #F9C4A9; width: 0; height: 1.7px; position: absolute; bottom: -5px; left: 50%; transform: translateX(-50%); transition: all .3s linear;}
 .footer_nav ul li a:hover::before ,.footer_tenants ul li a:hover::before{ width: 100%; }

 .footer_right_info1{display: flex;gap: 10px;justify-content: space-between;max-width: 462px;width: 57%;padding-top: 110px;}
 .footer_right_info2{width: 33%;max-width: 270px;}

 .footer_tenants{}
 .footer_tenants ul{}
 .footer_tenants ul li{}
 .footer_tenants ul li a{font-size: 16px;color: var(--white);text-decoration: navajowhite;margin-bottom: 23px;display: block;max-width: fit-content;position: relative;}

 
.footer_btm_info{color: #D0D0D0;display: flex;gap: 10px;justify-content: space-between;max-width: 1042px;align-items: center;margin: 0 auto;}
.footer_btm_info p{font-size: 14px;position: relative;letter-spacing: 0.5px;}

 .copyright{color: #D0D0D0;margin-top: 8px;}
 .copyright p{font-size: 14px;letter-spacing: 0.5px;}
 .copyright span{ font-weight: 600;color: var(--white);}
 
 .footer_btn{margin: 44px 0 32px;}
 .footer_btn a{ max-width: 240px; color: var(--txt2); background: #00BFC3;}
 .footer_btn a:hover{ background: var(--white); }
 .social_media{}
 .social_media ul{display: flex;gap: 13px;}
 .social_media ul li{  transition: all .3s linear;}
 .social_media ul li:hover{ transform: scale(0.9); opacity: 0.8; }
 .social_media ul li a{}
 
 .footer_flags{display: flex;align-items: center;gap: 6px;}
 .footer_flags figure{}
 .footer_flags figure img{}



 #header {
  /*! background-color: #f0f0f0; */
  /*! padding: 10px; */
}
#nav {
  background-color: #e0e0e0;
  padding: 10px;
}
